<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Webolution</title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Webolution</h1>

        <h2>Evolution</h2>
        <p><a href="/number_evolution">Number Evolution</a></p>
        <p><a href="/color_evolution">Color Evolution</a></p>
        <p><a href="/image_evolution">Image Evolution</a></p>

        <h2>Dashboard</h2>
        <p><a href="/color_dashboard_evolution">Color Dashboard Evolution</a></p>
        <p><a href="/image_dashboard_evolution">Image Dashboard Evolution</a></p>

        <h2>Database</h2>
        <p><a href="/color_evolution_database">Color Evolution Database</a></p>
        <p><a href="/image_evolution_database">Image Evolution Database</a></p>
        <p><a href="/adminer">Adminer</a></p>
        <p><a href="/clear_database">Clear Database</a></p>
    </body>
</html>
