<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Webolution</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Webolution</h1>

        <h2>Evolution</h2>
        <p><a href="/number_evolution">Number Evolution</a></p>
        <p><a href="/text_evolution">Text Evolution</a></p>
        <p><a href="/text_evolution_length">Text Evolution Test With Different Length Goal</a></p>
        <p><a href="/color_evolution">Color Evolution</a></p>
        <p><a href="/element_evolution">Element Evolution</a></p>
        <p><a href="/style_evolution">Style Evolution</a></p>
        <p><a href="/colour_evolution_interactive">Color Evolution Interactive</a></p>
        <p><a href="/image_evolution">Image Evolution</a></p>
        <p><a href="/page_evolution">Page Evolution</a></p>

        <h2>Evolution Form</h2>
        <p><a href="/number_evolution_form">Number Evolution Form</a></p>
        <p><a href="/page_evolution_form">Page Evolution Form</a></p>

        <h2>Evolution Storage</h2>
        <p><a href="/color_evolution_storage">Color Evolution Storage</a></p>
        <p><a href="/page_evolution_storage">Page Evolution Storage</a></p>
        <p><a href="/image_evolution_storage">Image Evolution Storage</a></p>
        <p><a href="/element_evolution_storage">Element Evolution Storage</a></p>

        <h2>Database</h2>
        <p><a href="/adminer">Adminer</a></p>
        <p><a href="/clear_database">Clear Database</a></p>

        <h2>Tests</h2>
        <p><a href="/image">Image Test</a></p>
        <p><a href="/image_sort">Image Sort Test</a></p>
        <p><a href="/color_sort">Colour Sort Test</a></p>
        <p><a href="/element">Element Test</a></p>
        <p><a href="/page">Page Test</a></p>
    </body>
</html>
